---
import { GlobalLayout } from '@/layouts'
---

<GlobalLayout lang="en">
	<div class="GridLayout">
	</div>
</GlobalLayout>

<style>
	.GridLayout {
		max-width: var(--layout-max-width);
		margin: 0 auto;
	}
</style>
